# .env - Multi-target Elasticsearch Configuration

# ============================================
# ACTIVE TARGET - Change this to switch!
# ============================================
ES_TARGET=STAGING #rename PROD for Production Target
ES_ENABLED=true

# ============================================
# DEV TARGET
# ============================================
ES_DEV_URL=http://localhost:9200
ES_DEV_USERNAME=elastic
ES_DEV_PASSWORD=changeme
ES_DEV_INDEX_PREFIX=syslog-dev
ES_DEV_VERIFY_CERTS=false
ES_DEV_BATCH_SIZE=50

# ============================================
# STAGING TARGET
# ============================================
ES_STAGING_URL= :9243
ES_STAGING_API_KEY=
#Uncomment for datastreams
#ES_STAGING_DATASET=syslog
#ES_STAGING_NAMESPACE=prod #leave prod if testing DR. Rename staging otherwise
ES_STAGING_INDEX=my-syslog-prod #leave prod if testing DR. Rename my-syslog-staging otherwise
ES_STAGING_VERIFY_CERTS=true
ES_STAGING_BATCH_SIZE=50
#ES_PROD_FLUSH_INTERVAL=2.0

# ============================================
# PROD TARGET
# ============================================
ES_PROD_URL= :9243
ES_PROD_API_KEY=
#ES_PROD_DATASET=syslog
#ES_PROD_NAMESPACE=prod
ES_PROD_INDEX=my-syslog-prod
ES_PROD_VERIFY_CERTS=true
ES_PROD_BATCH_SIZE=50
#ES_PROD_FLUSH_INTERVAL=2.0

# ============================================
# QA TARGET
# ============================================
ES_QA_URL=https://qa.es.mycompany.com:9243
ES_QA_USERNAME=qa_user
ES_QA_PASSWORD=qa_password_here
ES_QA_INDEX_PREFIX=syslog-qa

# ============================================
# GENERATOR SETTINGS
# ============================================
SYSLOG_RATE=10
SYSLOG_OUTPUT_MODE=both
